<!DOCTYPE>
<html>

<head>
    <title>Warewolf</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="../style/goo.fonts">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Buttons/2.0.0/css/buttons.min.css">
    <link rel="shortcut icon" href="../style/ico/icon.png">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../style/form-elements.css">
    <link rel="stylesheet" href="../wolf.css">
</head>

<body>
    <div class="top-content">
        <div class="inner-bg">
            <div class="container" id="main">
                <div class="row">
                    <div class="col-sm-8 col-sm-offset-2 text">
                        <h1>
                            法官
                        </h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 col-sm-offset-3">
                        <input v-model="table" placeholder="桌号">
                        <br><button v-on:click="enter">概览</button><br> {{message}}
                        <hr>
                        <div v-for="(i,index) in view">
                            邮箱：{{i.email}}
                            <br>押注：{{i.bind}} &nbsp;剩余筹码：{{i.chips}}&nbsp;胜利情况：{{i.win}}
                            <br><button v-on:click="add(i.email)">增加筹码</button> <button v-on:click="win(index)">标为胜利</button>
                            <button v-on:click="lose(index)">标为失败</button>
                            <hr>
                        </div>
                        <button v-on:click="submitresult">提交到服务器,请在下方的输入框内填写"submit"</button><br>
                        <button v-on:click="reroom">重新分配房间,请在下方的输入框内填写"comfirm"</button>
                        <hr>
                        <input v-model="regi" placeholder="万能输入框">
                        <button v-on:click="registernew">注册新玩家</button>
                        <br>mengw.io
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.2.1/vue.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="./judge.js"></script>

</html>